# 고객정보 파일관리 및 검색

## 고객정보 파일관리

### 디렉토리 변경

In [1]:
import os

#### 현재 디렉토리

In [2]:
os.getcwd()

'C:\\crawling\\Mini_project'

#### 디렉토리 변경

In [3]:
os.chdir('..')

In [4]:
현재디렉토리 = os.getcwd()
현재디렉토리

'C:\\crawling'

### 디렉토리 및 파일 검색

#### 디렉토리와 파일 검색

In [23]:
# for 경로명, 디렉토림목록, 파일목록 in os.walk(현재디렉토리):
#     for 파일명 in 파일목록:
#             print(경로명 + '-' + 파일명)

#### 고객정보 파일 검색

In [21]:
고객정보_파일명 = '고객정보.xlsx'
파일디렉토리 = ''

In [22]:
for 경로명, 디렉토리목록, 파일목록 in os.walk(현재디렉토리):
    for 파일명 in 파일목록:
        if 파일명 == 고객정보_파일명:
            파일디렉토리 = 경로명
            print(경로명 + '-' + 파일명)

C:\crawling\Mini_project\data-고객정보.xlsx

### 검색된 파일 복사

고객정보 파일 복사

In [24]:
파일디렉토리

'C:\\crawling\\Mini_project\\data'

In [25]:
디렉토리_파일명 = os.path.join(파일디렉토리, 고객정보_파일명)
디렉토리_파일명

'C:\\crawling\\Mini_project\\data\\고객정보.xlsx'

In [31]:
복사디렉토리_파일명 = os.path.join(현재디렉토리, '고객정보_복사본.xlsx')
복사디렉토리_파일명

'C:\\crawling\\고객정보_복사본.xlsx'

In [32]:
import shutil

In [33]:
shutil.copy2(디렉토리_파일명, 복사디렉토리_파일명)

'C:\\crawling\\고객정보_복사본.xlsx'

## 고객정보 검색

In [34]:
import pandas as pd

In [35]:
디렉토리_파일명

'C:\\crawling\\Mini_project\\data\\고객정보.xlsx'

In [36]:
고객정보 =pd.read_excel(디렉토리_파일명)
고객정보

,고객번호,성명,영문명,전화번호,메일주소,주소,생일,예금잔액,대출잔액,등록일
0,C001,제우스,Zeus,010-1111-2222,zeus@abc.com,서울시 양천구 목동 12-3,1965-02-03,1000000,10000000,2015-05-01
1,C002,헤라,Hera,010-2222-3333,hera@bcd.com,서울시 강남구 역삼동 13-4,1974-09-23,1500000,9000000,2016-08-24
2,C003,데메테르,Demeter,010-3333-4444,demeter@def.cc.com,서울시 송파구 잠실동 15-5,1978-12-20,2000000,8000000,2018-06-02
3,C004,디오니소스,Dionysos,010-4444-5555,dionysos@efg.com,서울시 성북구 성북동 22-1,1972-05-30,2500000,7000000,2017-12-23
4,C005,아레스,Ares,010-5555-6666,ares@fgh.com,서울시 강동구 상일동 10-3,1988-03-09,3000000,6000000,2015-09-07
5,C006,아르테미스,Artemis,010-6666-7777,artemis@ghi.com,서울시 강서구 방화동 29-7,1970-12-01,3500000,5000000,2016-01-06
6,C007,아테나,Athena,010-7777-8888,athena@hij.com,인천시 남구 도화동 36-9,1990-07-12,4000000,4000000,2018-05-08
7,C008,아폴론,Apollon,010-8888-9999,apollon@ijk.com,대전시 중구 은행동 34-5,1982-06-12,4500000,3000000,2018-02-24
8,C009,아프로디테,Aphrodite,010-9999-1010,aphrodite@jkl.com,부산시 부산진구 양정동 59-7,1991-04-07,5000000,2000000,2017-11-21
9,C010,포세이돈,Poseidon,010-1010-2020,poseidon@klm.com,대구시 수성구 범어동 78-2,1987-01-18,5500000,1000000,2016-03-11
10,C011,헤르메스,Hermes,010-2020-3030,hermes@lmn.com,광주시 남구 월산동 23-5,1995-09-07,6000000,500000,2015-04-11
11,C012,헤파이스토스,Hephaistos,010-3030-4040,hephaistos@mno.com,제주시 용강동 11-1,1966-08-03,6500000,300000,2016-10-05

## 문자열을 이용한 고객정보 검색

#### startswith 함수

In [37]:
고객정보[고객정보.성명.str.startswith('아')]

,고객번호,성명,영문명,전화번호,메일주소,주소,생일,예금잔액,대출잔액,등록일
4,C005,아레스,Ares,010-5555-6666,ares@fgh.com,서울시 강동구 상일동 10-3,1988-03-09,3000000,6000000,2015-09-07
5,C006,아르테미스,Artemis,010-6666-7777,artemis@ghi.com,서울시 강서구 방화동 29-7,1970-12-01,3500000,5000000,2016-01-06
6,C007,아테나,Athena,010-7777-8888,athena@hij.com,인천시 남구 도화동 36-9,1990-07-12,4000000,4000000,2018-05-08
7,C008,아폴론,Apollon,010-8888-9999,apollon@ijk.com,대전시 중구 은행동 34-5,1982-06-12,4500000,3000000,2018-02-24
8,C009,아프로디테,Aphrodite,010-9999-1010,aphrodite@jkl.com,부산시 부산진구 양정동 59-7,1991-04-07,5000000,2000000,2017-11-21

#### endswith 함수

In [38]:
고객정보[고객정보.성명.str.endswith('스')]

,고객번호,성명,영문명,전화번호,메일주소,주소,생일,예금잔액,대출잔액,등록일
0,C001,제우스,Zeus,010-1111-2222,zeus@abc.com,서울시 양천구 목동 12-3,1965-02-03,1000000,10000000,2015-05-01
3,C004,디오니소스,Dionysos,010-4444-5555,dionysos@efg.com,서울시 성북구 성북동 22-1,1972-05-30,2500000,7000000,2017-12-23
4,C005,아레스,Ares,010-5555-6666,ares@fgh.com,서울시 강동구 상일동 10-3,1988-03-09,3000000,6000000,2015-09-07
5,C006,아르테미스,Artemis,010-6666-7777,artemis@ghi.com,서울시 강서구 방화동 29-7,1970-12-01,3500000,5000000,2016-01-06
10,C011,헤르메스,Hermes,010-2020-3030,hermes@lmn.com,광주시 남구 월산동 23-5,1995-09-07,6000000,500000,2015-04-11
11,C012,헤파이스토스,Hephaistos,010-3030-4040,hephaistos@mno.com,제주시 용강동 11-1,1966-08-03,6500000,300000,2016-10-05

#### contains 함수

In [39]:
고객정보[고객정보.주소.str.contains('잠실')]

,고객번호,성명,영문명,전화번호,메일주소,주소,생일,예금잔액,대출잔액,등록일
2,C003,데메테르,Demeter,010-3333-4444,demeter@def.cc.com,서울시 송파구 잠실동 15-5,1978-12-20,2000000,8000000,2018-06-02

#### contains 함수

In [41]:
고객정보[고객정보.주소.str.contains('잠실')]

,고객번호,성명,영문명,전화번호,메일주소,주소,생일,예금잔액,대출잔액,등록일
2,C003,데메테르,Demeter,010-3333-4444,demeter@def.cc.com,서울시 송파구 잠실동 15-5,1978-12-20,2000000,8000000,2018-06-02

### 숫자를 이용한 고객정보 검색

#### 대출잔액 500,000이하

In [42]:
고객정보[고객정보.대출잔액 <= 500000]

,고객번호,성명,영문명,전화번호,메일주소,주소,생일,예금잔액,대출잔액,등록일
10,C011,헤르메스,Hermes,010-2020-3030,hermes@lmn.com,광주시 남구 월산동 23-5,1995-09-07,6000000,500000,2015-04-11
11,C012,헤파이스토스,Hephaistos,010-3030-4040,hephaistos@mno.com,제주시 용강동 11-1,1966-08-03,6500000,300000,2016-10-05

#### 예금잔액 2,000,000 이상

In [43]:
고객정보[고객정보.예금잔액 <= 2000000]

,고객번호,성명,영문명,전화번호,메일주소,주소,생일,예금잔액,대출잔액,등록일
0,C001,제우스,Zeus,010-1111-2222,zeus@abc.com,서울시 양천구 목동 12-3,1965-02-03,1000000,10000000,2015-05-01
1,C002,헤라,Hera,010-2222-3333,hera@bcd.com,서울시 강남구 역삼동 13-4,1974-09-23,1500000,9000000,2016-08-24
2,C003,데메테르,Demeter,010-3333-4444,demeter@def.cc.com,서울시 송파구 잠실동 15-5,1978-12-20,2000000,8000000,2018-06-02

#### 예금잔액 6,000,000 이상 & 대출잔액 300,000 이하

In [44]:
고객정보[(고객정보.예금잔액 >= 6000000) & (고객정보.대출잔액 <= 300000)]

,고객번호,성명,영문명,전화번호,메일주소,주소,생일,예금잔액,대출잔액,등록일
11,C012,헤파이스토스,Hephaistos,010-3030-4040,hephaistos@mno.com,제주시 용강동 11-1,1966-08-03,6500000,300000,2016-10-05

#### 예금잔액의 합계 계산

In [45]:
고객정보.예금잔액.sum()

45000000

#### 대출잔액의 평균 계산

In [46]:
고객정보.대출잔액.mean()

4650000.0

### 날짜를 이용한 고객정보 검색

#### datatime 패키지 import

In [47]:
from datetime import datetime

#### 오늘날짜 구하기

In [49]:
오늘날짜 = datetime.now()
오늘날짜

datetime.datetime(2020, 12, 20, 19, 15, 30, 880515)

In [50]:
오늘_년 = 오늘날짜.year
오늘_년

2020

In [52]:
오늘_월 = 오늘날짜.month
오늘_월

12

In [53]:
오늘_일 = 오늘날짜.day
오늘_일

20

In [54]:
오늘_요일 = 오늘날짜.weekday()
오늘_요일

6

In [55]:
요일목록 = {0:'월요일', 1:'화요일', 2:'수요일', 3:'목요일', 4:'금요일', 5:'토요일', 6:'일요일'}

In [56]:
요일목록[3]

'목요일'

In [57]:
요일목록[오늘_요일]

'일요일'

#### 생일이 지나지 않은 고객 검색

In [58]:
고객정보.생일.dt.month

0      2
1      9
2     12
3      5
4      3
5     12
6      7
7      6
8      4
9      1
10     9
11     8
Name: 생일, dtype: int64

In [59]:
고객정보.생일.dt.day

0      3
1     23
2     20
3     30
4      9
5      1
6     12
7     12
8      7
9     18
10     7
11     3
Name: 생일, dtype: int64

In [60]:
고객정보[(고객정보.생일.dt.month >= 오늘_월) & (고객정보.생일.dt.day >= 오늘_일)]

,고객번호,성명,영문명,전화번호,메일주소,주소,생일,예금잔액,대출잔액,등록일
2,C003,데메테르,Demeter,010-3333-4444,demeter@def.cc.com,서울시 송파구 잠실동 15-5,1978-12-20,2000000,8000000,2018-06-02

### timedelta 패키지 및 relativedelta 패키지

* timedelta 패키지는 날짜(시간)차이를 계산하기 위한 패키지
* 일년차이 = timedelta(days = 365)형태로 저장하여 사용
* 오늘날짜에 timedelta 변수를 빼거나 더해서 과거나 미래날짜를 계산
* 일년전 날짜는 '오늘날짜 - 일년차이'로 계산, 일년후 날짜는 '오늘날짜 + 일년차이'로 계산

#### 등록일이 1년이 경과하지 않은 고객 검색

In [62]:
from datetime import timedelta

In [63]:
일년차이 = timedelta(days = 365)

In [64]:
날짜_일년전 = 오늘날짜 - 일년차이
날짜_일년전

datetime.datetime(2019, 12, 21, 19, 15, 30, 880515)

In [65]:
고객정보[고객정보.등록일 > 날짜_일년전]

Empty DataFrame
Columns: [고객번호, 성명, 영문명, 전화번호, 메일주소, 주소, 생일, 예금잔액, 대출잔액, 등록일]
Index: []

#### 등록일이 24개월 이상 경과하지 않은 고객 검색

In [81]:
from dateutil.relativedelta import relativedelta

In [82]:
삼십육개월차이 = relativedelta(months = 36)
삼십육개월차이

relativedelta(years=+3)

In [83]:
날짜_36개월전 = 오늘날짜 - 삼십육개월차이
날짜_36개월전

datetime.datetime(2017, 12, 20, 19, 15, 30, 880515)

In [84]:
고객정보[고객정보.등록일 > 날짜_36개월전]

,고객번호,성명,영문명,전화번호,메일주소,주소,생일,예금잔액,대출잔액,등록일
2,C003,데메테르,Demeter,010-3333-4444,demeter@def.cc.com,서울시 송파구 잠실동 15-5,1978-12-20,2000000,8000000,2018-06-02
3,C004,디오니소스,Dionysos,010-4444-5555,dionysos@efg.com,서울시 성북구 성북동 22-1,1972-05-30,2500000,7000000,2017-12-23
6,C007,아테나,Athena,010-7777-8888,athena@hij.com,인천시 남구 도화동 36-9,1990-07-12,4000000,4000000,2018-05-08
7,C008,아폴론,Apollon,010-8888-9999,apollon@ijk.com,대전시 중구 은행동 34-5,1982-06-12,4500000,3000000,2018-02-24